# Cloud Database URI (MongoDB or Supabase)
DATABASE_URL=mongodb+srv://<user>:<password>@cluster0.abcde.mongodb.net/test?retryWrites=true&w=majority

# Senha Administrativa
NEXT_PUBLIC_ADMIN_PASSWORD=admin123

# App Base URL
NEXT_PUBLIC_BASE_URL=https://plataforma-pedidos.vercel.app
